{% extends "layout.jinja2" %}
{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/seattle.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Daily blogs </h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content -->
    <form method="POST" name="sentMessage" id="contactForm" novalidate>
        <button type="submit" class="btn btn-secondary float-right" id="postBlog">Post</button>
      <div class="page-header">
      <main class="article-list">
        <div class="card">
          <div class="card-body">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" name="title">
              <label>Body</label>
              <textarea rows="5" class="form-control" placeholder="Body" name="body"></textarea>
            </form>
          </div>
        </div>
    </main>
{% endblock %}

