{% extends "layout.jinja2" %}
{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/seattle.jpg')">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
       <h2>Keep the words flowing</h2>
        <form method="POST" name="sentMessage" id="contactForm" novalidate>
          <div class="form-group ">
             <input type="text" color="black" placeholder="Title" name="title" class="form-control" place>
              </div>
              <div class="">
              <textarea rows="10" placeholder="Body" name="body" class="form-control"></textarea>
              <br>
            <button type="submit" class="btn btn-secondary float-center">Publish &rarr;</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

{% endblock %}
