{% extends "layout.jinja2" %}

{% block content %}
   <header class="masthead" style="background-image: url('../../static/seattle.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Update</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
      <!-- Main Content -->
<form method="POST" name="sentMessage" id="contactForm">
        <button class="btn btn-secondary float-right" type="submit">Update &rarr;</button>
        <label for="exampleFormControlInput1">Title</label>
        <textarea class="form-control" name="title"  rows="1">{{ Entry.title }}</textarea>
        <label for="exampleFormControlTextarea1">Blog</label>
        <textarea class="form-control" name="body" rows="5">{{ Entry.body }}</textarea>
</form>
{% endblock %}