{% extends 'layout.jinja2' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
          </h2>
          <h3 class="post-subtitle">

          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">Chaitanya.Narukulla</a>
          on Oct 20, 2017</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            Day 1.
          </h2>
        </a>
        <p class="post-meta">Posted by
          <a href="#">Chaitanya.Narukulla</a>
          on Oct 29, 2017</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            Day2
          </h2>
          <h3 class="post-subtitle">
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">Chaitanya.Narukulla</a>
          on Oct 29, 2017</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            Day -3
          </h2>
          <h3 class="post-subtitle">

          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">Chaitanya.Narukulla</a>
          on Oct 29, 2017</p>
      </div>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

