{% extends "layout.jinja2" %}
{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/seattle.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Daily blogs </h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->


          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-secondary float-right" href="/journal/new-entry">New Entry &rarr;</a>
          </div>

    <main class="article-list">
      <div class="page-header">

      </div>
      {% for entry in entry %}
      <hr>
        <div class="clearfix">
          <div class="card-body">
            <h4 class="card-title">{{ entry.title|upper }}</h4><h5>Last updated: {{ entry.creation_date }}</h5>

            <p class="card-text">{{ entry.body }}</p>
            <a href="{{ request.route_url('detail', id=entry.id) }}" class="btn btn-secondary">Details &rarr;</a>

      {% endfor %}
    </hr>
    </main>
{% endblock %}


