{% extends "layout.jinja2" %}

{% block content %}
 <!-- Page Header -->
<header class="masthead" style="background-image: url('../static/seattle.jpg')">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ entry.title }}</h1>
{#           <h5>Last updated: {{ entry.creation_date }}</h5>
 #}          <span class="subheading"><h5>Last updated: {{ entry.creation_date }}</h5></span>
        </div>
      </div>
      <a class="btn btn-secondary float-right" href="{{ request.route_url('update', id=entry.id) }}" style="float: right">Edit this Post &rarr;</a>
      </header>
            <div class="card-footer text-muted">
            <div class="clearfix">
            <div class="card-body">
                <p class="card-text">{{ entry.body }}</p>
                </div>
            </div>
            </div>
        </main>
    </div>
{% endblock %}
